<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Success</title>
</head>

<body>
  <h1>Upload Success</h1>
  <h2>
    File Details:
  </h2>

  <p>
    <strong>Filename:</strong>
    <%= file.filename %> <br>
      <strong>File Id:</strong>
      <%= file.id %> <br>
        <strong>File ContentType:</strong>
        <%= file.contentType %> <br>
  </p>


  <a href="http://localhost:3000/home-page">
    Get To Home
  </a>
</body>

</html>